In [1]:
from read_data import read_data

In [2]:
product_MXD = read_data('NDVI')

In [3]:
product_MXD

              Date    NDVI Composite_date  Same_composite
ID
AFG01a  2002-07-04  0.2257     2002-07-10           False
AFG01a  2002-07-12  0.2410     2002-07-18           False
AFG01a  2002-07-20  0.2255     2002-07-26           False
AFG01a  2002-07-28  0.2530     2002-08-03           False
AFG01a  2002-08-05  0.2703     2002-08-11           False
...            ...     ...            ...             ...
ZAM14b  2020-04-06  0.7385     2020-04-08           False
ZAM14b  2020-04-14  0.6640     2020-04-22           False
ZAM14b  2020-04-22  0.6618     2020-04-28           False
ZAM14b  2020-04-30  0.5395     2020-05-15           False
ZAM14b  2020-05-08  0.5897     2020-05-14           False

[147138 rows x 4 columns]

In [4]:
import xarray as xr
vim = xr.open_zarr('data/vim_zarr')
tda = xr.open_zarr('data/tda_zarr')

In [11]:
from itertools import product
vim['names'] = [f"grid({str(round(lat)).zfill(2)},{str(round(lon)).zfill(2)})" for lat, lon in product(vim.latitude.values, vim.longitude.values)]

In [21]:
names_grid_sample = vim.names.values

In [29]:
names_grid_sample[0].split(',')[-1].split(')')[0]

'-95'